<!DOCTYPE html>
<html lang="es-MX">

   <head>
   <link rel="icon" type="image/png" sizes="16x16" href="/static/images/logo-16x16.png">
   <title>{% block titulo %}ProyectoDW{% endblock %}</title>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="/static/css/style.css"></script>
   <script src="/static/js/scripts.js"></script>
   </head>

   {% include 'cabecera.html' %}

   {#Se agrega navegador en todas las páginas menos en la de login.html#}

   <body>
      <main>
         {% block contenido %}
         {% endblock %}
      </main>
   </body>

   {% include 'pie-pag.html' %}

</html>

{% block extrajs %}

{% endblock %}