{% extends 'plantilla.html' %}

{% block titulo %}Lista de Servidores{% endblock %}
{% block contenido %}
  <section class="container">
    <div class="page-header">
      <h1>Servidores</h1>
    </div>
  </section>
  <div class="container">
    Bienvenido {{ usuario.usr }}
    Tus servidores actualmente son
    {% for server in servidores %}
       {{ server.desc_srv }}
       {{ server.ip_srv }}
    {% endfor %}
    <a class="btn btn-danger" href="{% url 'logout' %}">Salir</a>
  </div>
{% endblock %}